<!-- Main Navigation -->
<style>
    .right-menu li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.right-menu a{
    text-decoration: none;
    color: #333;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">COMP229</a> -->
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>

    <img src="/img/logo.png" alt="logo" style: width="180px"; height="80px">

    <div class="collapse navbar-collapse" id="navbarNav">
  
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fas fa-user fa-lg"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects"><i class="fas fa-cog fa-lg"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fas fa-map fa-lg"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
        </li>
      </ul>
      
    </div>

    <ul class="right-menu">
      <li><a href="mailto: tuemurak@my.centennialcollege.ca"></a><i class="fa-brands fa-linkedin fa-lg"></i></li></a>
      <li><i class="fa-brands fa-instagram fa-lg"></i></li>
      <li><i class="fa-solid fa-envelope fa-lg"></i></li>
    </ul>

  </div>
</nav>