<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
  
    header {
      color: #0b2905;
      padding: 20px;
      text-align: center;
      font-family: monospace;
    }
  
    h1 {
      margin: 0;
    }
  
    .main {
      max-width: 800px;
      margin: 20px auto;
      padding: 0 20px;
    }
  
    .table {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .project {
      flex: 0 0 calc(33.33% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
    }
  
    .project-title {
      margin-bottom: 10px;
    }
  
    .project-title a {
      color: #0a5607;
      background-color: #9feaae;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5%;
      display: inline-block;
    }
  
    .project-title a:hover {
      background-color: #245e14;
      color: #e1e6e1;
    }
  
    .image-cropper {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10px;
    }
  
    .project-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    @media (max-width: 768px) {
      .project {
        flex-basis: 50%;
      }
    }
  
    @media (max-width: 576px) {
      .project {
        flex-basis: 100%;
      }
    }
</style>

  <body>
    <header>
      <h1>Projects</h1>
    </header>
    
    <main>
      <div class="table">
        <div class="project">

          <div class="project-title">
           <a href="#">Project 1</a>
          </div>

          <div class="image-cropper">
            <img src="/img/IMG_1960.jpeg" alt = "project 1" class="project-image">
          </div>
    
          <div class="project-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu libero sed tellus tincidunt aliquet. Phasellus pellentesque viverra enim, sed consequat arcu posuere at.</p>
          </div>
        </div>

      
        <div class="project">

            <div class="project-title">
             <a href="#">Project 2</a>
            </div>
  
            <div class="image-cropper">
              <img src="/img/IMG_2640.jpeg" alt = "project 1" class="project-image">
            </div>
      
            <div class="project-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu libero sed tellus tincidunt aliquet. Phasellus pellentesque viverra enim, sed consequat arcu posuere at.</p>
            </div>
        </div>
      
        <div class="project">

          <div class="project-title">
           <a href="#">Project 3</a>
          </div>

          <div class="image-cropper">
            <img src="/img/IMG_1961.jpeg" alt = "project 1" class="project-image">
          </div>
    
          <div class="project-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu libero sed tellus tincidunt aliquet. Phasellus pellentesque viverra enim, sed consequat arcu posuere at.</p>
          </div>
        </div>
      </div>
  </body>
</main>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   