<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">

  <style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: #0b2905;
  padding: 20px;
  text-align: center;
  font-family: monospace;
}

h1 {
  margin: 0;
}

.main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Change flex-wrap property to wrap */
  width: 100%;
}

.cell {
  flex-basis: calc(100% / 3);
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8%;
}

h3, p {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .cell {
    flex-basis: calc(100% / 2); /* Adjust flex-basis to 50% for smaller screens */
  }
}

@media (max-width: 576px) {
  .cell {
    flex-basis: 100%; /* Adjust flex-basis to 100% for even smaller screens */
  }
}


  </style>
  <body>
    <header>
      <h1>Services Offered</h1>
    </header>
    
    <main>
      <div class="table">
        <div class="row">
          <div class="cell">
            <img src="/img/Service1.jpg" alt="Web Development">
            <p>Creation and maintenance of websites and web applications. Coding, implementing functional features and ensuring that the designs look great and are easy to use.</p>
          </div>
          <div class="cell">
            <img src="/img/Service2.jpg" alt="Full-Stack Development">
            <p>Designing, developing, and maintaining both the front-end and back-end components of web applications, involving both client-side and server-side development, ensuring seamless integration and optimal performance.</p>
          </div>
          <div class="cell">
            <img src="/img/Service3.jpg" alt="Agile Methodologies">
            <p>The Agile Methodologies Service is designed to help organizations optimize their software development and project management processes by implementing Agile methodologies. Agile is a flexible and iterative approach that emphasizes collaboration, adaptability, and continuous improvement. </p>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</main>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   